body{
    height: 100vh;
}

.father-container{
    max-width: 1760px;
    height: 100%;
    margin: auto;

}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(37, 36, 36);
    min-height: 50px;
    padding-left: 1rem;
    padding-right: 1rem;
    
}

p{
    font-size: 1.5rem;
    color: #fff;
    margin-top: 0.5rem;
}


.text-logo{
    font-size: 1rem;
}

.wrapper{
    height: 100%;
    display: flex;
    
    }

aside{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 300px;
    padding-top: 2rem;
    background-color: #D3D3D3;
    align-self: stretch;

    
}

.navigation-link{
    list-style: none;
}


.profile-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
}

.navigation-link{
    display: flex;
    flex-direction: column;
    
    width: 100%;
    margin-top: 2rem;
}
.navigation-item{
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.navigation-item:hover{
    cursor: pointer;
    background-color: #949494;
}

a{
    text-decoration: none;
    color: #fff;
}

main{
    padding-top: 1rem;
    flex: 1

}

.container-card{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    column-gap: 1rem;
    row-gap: 1rem;
}

.card{
    width: 150px;
    height: 150px;
    background-color: gray;
    
    
}

.hamburger-menu{
    display: none;
}
.hamburger-menu > div{
    width: 25px;
    height: 2px;
    margin: 0.5rem;
    background-color:#fff;
}


@media screen and (max-width: 1024px) {
    aside{
        display: none;
    }
}


@media screen and (max-width: 678px) {
    form{
        display: none;
    }
    .hamburger-menu{
        display: block;
    }
    .wrapper{
        justify-content: center;
    }

    main{
    
        flex:0;
    }


    .container-card{
         display: grid;
         grid-template-columns: 1fr 1fr;
      
    }

 
}

